<div>

<button type="button" class="btn btn-primary" (click)="changeBien(bien)">Ajout de bien</button>
 <div class="card">
   
   <div class="card-body">
     formulaire
<div class="form-group">
  <label for="">nom:</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

</div>

<div class="form-group">
  <label for="">prix</label>
  <input type="number"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
<div class="form-group">
  <label for="">localité</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>

  <div class="form-group">
    <label for="">images</label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    </div>

  <button type="button" class="btn btn-primary">Send</button>
   </div>
 </div>
</div>
